{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - classes: A list of classes to apply to the top level <ul> element.
 * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 *
 * Define a custom macro that will render all menu trees.
 */
#}
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand me-lg-5 me-0" href="index.html">
      <img src="{{ base_path ~ directory }}/assets/images/pod-talk-logo.png" class="logo-image img-fluid" alt="logo">
    </a>

    <form action="#" method="get" class="custom-form search-form flex-fill me-3" role="search">
      <div class="input-group input-group-lg">
        <input name="search" type="search" class="form-control" id="search" placeholder="Search Podcast"
               aria-label="Search">

        <button type="submit" class="form-control" id="submit">
          <i class="bi-search"></i>
        </button>
      </div>
    </form>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-lg-auto">
        {% for item in items %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}

        {#
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
            <li><a class="dropdown-item" href="listing-page.html">Listing Page</a></li>

            <li><a class="dropdown-item" href="detail-page.html">Detail Page</a></li>
          </ul>
        </li>
        #}

      </ul>

      <div class="ms-4">
        <a href="#section_3" class="btn custom-btn custom-border-btn smoothscroll">Get started</a>
      </div>
    </div>
  </div>
</nav>
