
.nav-item .nav-link {
  display: inline-block;
  color: var(--section-bg-color);
  font-family: var(--title-font-family);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
  color: var(--secondary-color);
}
